# Page admin CMS routing
monsieurbiz_sylius_cms_page_admin:
    resource: |
        alias: monsieurbiz_cms_page.page
        section: admin
        templates: "@SyliusAdmin\\Crud"
        except: ['show']
        redirect: update
        grid: monsieurbiz_cms_page
        vars:
            all:
                subheader: monsieurbiz_cms_page.ui.pages_subheader
                templates:
                    form: "@MonsieurBizSyliusCmsPagePlugin/Admin/Page/_form.html.twig"
            index:
                icon: 'file alternate'
    type: sylius.resource

# Ajax call to auto generate a slug for a page
monsieurbiz_sylius_cms_page_ajax_generate_page_slug:
    path: /page/generate-slug
    methods: [GET]
    defaults:
        _controller: MonsieurBiz\SyliusCmsPagePlugin\Controller\Admin\Page\PageSlugController::generateAction
        
# Page admin BLOC routing
monsieurbiz_sylius_cms_bloc_admin:
    resource: |
        alias: monsieurbiz_cms_bloc.bloc
        section: admin
        templates: "@SyliusAdmin\\Crud"
        except: ['show']
        redirect: update
        grid: monsieurbiz_cms_bloc
        vars:
            all:
                subheader: monsieurbiz_cms_page.ui.pages_subheader
                templates:
                    form: "@MonsieurBizSyliusCmsPagePlugin/Admin/Bloc/_form.html.twig"
            index:
                icon: 'file alternate'
    type: sylius.resource

