parameters:
    level: max
    paths:
        - %rootDir%/src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusCmsPageExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

        # Menu Provider
        - 'src/Menu/PageUrlProvider.php'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
